<mat-card class="hero">
  <mat-card-title-group>
    <mat-card-title>
      <h1>Afternoon</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <p>The only PM solution you'll need.</p>
    </mat-card-subtitle>
  </mat-card-title-group>
</mat-card>


