.title {
  margin: 0;

  &__group {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem 0;
  }
}

.btn--add-new {
  margin-left: 1rem;
}

.project-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr auto;
  width: 100%;
}

.project__cell {
  align-items: center;
  display: flex;
}

.project__id,
.project__name {
  background: #f5f5f5;
  padding: 0 1rem;
}
