<mat-card class="hero">
  <mat-card-title>
    <div class="title__group">
      <h1 class="title">Projects</h1>
      <button mat-mini-fab color="primary" matTooltip="New" class="btn--add-new">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="project-list">
    <ng-template ngFor let-project [ngForOf]="projects">
      <div class="project__cell project__id">[{{ project.id }}]</div>
      <div class="project__cell project__name">{{ project.name }}</div>
      <div class="project__cell project__controls">
        <button mat-icon-button color="primary" matTooltip="Edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-template>
    </div>
  </mat-card-content>
</mat-card>
